p, li {
  margin:0;
}

.bold {
  font-weight: bold;
}
.center-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-cont form {
  width: 400px;
  background: #f9f9f9;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px;
}

input {
  width: 100%;
  margin: 5px 20px;
  padding: 10px;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid rgb(184, 194, 255);
}

.flex {
  display: flex;
  padding: 5px 20px 10px;
}

.button {
  padding: 10px;
  margin: 20px;
  background: #a27de4;
  border: none;
  -webkit-box-shadow: 0 0 5px 1px #673AB7;
  box-shadow: 0 0 2px 1px #673AB7;
  font-size: 15px;
}

.header-text {
  margin: 0;
  color: #3F51B5;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
  padding-bottom: 15px;
  text-align: center;
}

.header {
  display: flex;
  padding: 0px 20px;
  background: white;
  border-bottom: 1px solid rgba(200,200,200,.5);
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.header .name {
  font-weight: bold;
  color: #3F51B5;
  text-transform: uppercase;
}

.round-btn {
  padding: 10px 10px;
  background: #673AB7;
  color: white;
  border-radius: 5px;
}

.flex-center {
  display: flex;
  justify-content: center;
  margin-top:20px;
}
.search-cont {
  display: flex;
  width: 420px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-box {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 50px;
  justify-content: space-around;
  border: 1px solid rgb(209, 216, 255);
}

.pop-box {
  font-size:14px;
}

.error-msg {
  color: red;
}